# Defining functions and working with time in Python

**Author**: Andrea Ballatore (Birkbeck, University of London)

**Abstract**: Learn how to use and define functions and how to manipulate temporal information in Python.

## Setup
This is to check that your environment is set up correctly (it should print 'env ok', ignore warnings).

In [1]:
# Test geospatial libraries
# check environment
import os
print("Conda env:", os.environ['CONDA_DEFAULT_ENV'])
if os.environ['CONDA_DEFAULT_ENV'] != 'geoprogv1':
    raise Exception("Set the environment 'geoprogv1' on Anaconda. Current environment: " + os.environ['CONDA_DEFAULT_ENV'])

# spatial libraries 
import fiona as fi
import geopandas as gpd
import pandas as pd
import pysal as sal
import numpy as np
import math

# create output folders
folders = ['tmp']
for f in folders:
    if not os.path.exists(f):
        os.makedirs(f)

print('env ok')

Conda env: geoprogv1
env ok

----
## What is a function?

- A **function** is a stand-alone section of code that is designed to generate a specific **result** based on one or more parameters.
- A function has an **input** (parameters) and an **ouput** (a return value or an effect in the system):

<img src="img/function.png" width=200>

- In programming, the general structure of a function is 

`return_value = function_name(parameter1, parameter2, ...)`.

- When you write Python code, you are **calling functions** on your data to produce the results you are interested in.
- A function can **return** a value (the result of the computation). The **return value** is the output of the calculation. Some functions might not have a return value.

## Types of functions
- Functions can be grouped as:
  - **Built-in**: basic functions in Python. These functions are documented at (https://docs.python.org/3/library/functions.html).
  - **Packages**: functions defined in packages that can be imported (for example from `pandas` or other packages). Most code that you write uses some of these functions to perform complex tasks. Each package provides documentation on how its functions work.
  - **User-defined functions**: functions that you define in your notebook/script/application to perform your tasks.
- For example, let us consider some of the basic built-in functions in Python: `len`, `min`, `max` and `abs`.

In [4]:
# built-in functions
# define a list of integers
nums = [7,23,4,1,-19,231]

# call 'len' on the list to see how many elements it contains
# nums: first parameter
# n: variable that contains the return value
n = len(nums)
print(n)

6

In [3]:
# call 'min' on the list and save the value in min_num
# nums: first parameter
# min_num: return value
min_num = min(nums)

# call 'max' on the list and save the value in max_num
# nums: first parameter
# max_num: return value
max_num = max(nums)

# print results
print(min_num, max_num)

# note how you can call min or max anywhere in your code 
# and will perform the same task.

-19 231

In [4]:
# 'abs' returns the absolute value of a number.
abs_num = abs(-341)
print(abs_num)

341

In [5]:
# If you do not need the result later, you can just print the return value:
print(abs(-341))
# In this case, the result is printed and not saved in a variable.

341

## Calling functions on multiple values

* In many situations, you want to call the same function on multiple values stored in a data structure.
* When you want to call the same function on a list, you can use a `for` loop or a Python structure called list comprehension.

In [5]:
# consider this list of numbers
nums = [-1203, -39, 46, -10, 669]
print('input list:', nums)

# you can call the 'abs' on each element:
print(abs(nums[0]), abs(nums[1]), abs(nums[2]), abs(nums[3]), abs(nums[4]))
# this works but it is a terrible approach. This code does not 
# adapt to lists of different sizes and it is very easy to make mistakes.

input list: [-1203, -39, 46, -10, 669]
1203 39 46 10 669

In [7]:
# A 'for' loop is a much better approach.
# Create an empty list to host the results:
results = []
for n in nums:
    # call 'abs' and add the result to the new list
    results.append( abs(n) )
print(results)

[1203, 39, 46, 10, 669]

In [6]:
# this code will adapt to any list, for example:
nums = [-1203, -39, 46, -10, 669, 491, 4, 12, -10]
results = []
for n in nums:
    # call 'abs' and add the result to the new list
    results.append( abs(n) )
print('for loop result:', results)

for loop result: [1203, 39, 46, 10, 669, 491, 4, 12, 10]

## List comprehension

This syntax allows you to call a function on each element of a list:

`results = [function(element) for element in my_list]`

In [7]:
# List comprehension allows you to do achieve the same goal in a 
# more concise, elegant way:
results = [abs(n) for n in nums]
print('list comprehension result:', results)

list comprehension result: [1203, 39, 46, 10, 669, 491, 4, 12, 10]

In [10]:
# Another example: multiply all numbers by 10:
results = [n*10 for n in nums]
print('all values by 10:', results)

all values by 10: [-12030, -390, 460, -100, 6690, 4910, 40, 120, -100]

## Chaining functions

- When you want to combine functions, you can call a function directly on the result of another function.
- This is the syntax: `result = function1(function2(function3(parameters)))`
- This will be executed as follows:
    - Step 1. call `function3` on `parameters`
    - Step 2. call `function2` on the result of step 1
    - Step 3. call `function1` on the result of step 2
    - Step 4. save the result in variable `result`
- Many bugs are caused by errors in these sequences.

In [11]:
# get the logarithm of the absolute value of -100 and 
# then round it to the 3rd digit
result = round(math.log(abs(-100)),3)
print('result:', result)
# the execution sequence is: abs -> log -> round

result: 4.605

- Note the syntax on `math.log`. When a function is part of an object or an imported package, we can call it with the dot (`.`): `object.function_name(parameters)`
- Functions can have 0 parameters: `object.function_name()`

In [8]:
cities = ['London','Cairo']
# cities is an object with a number of functions available:
cities.append('Buenos Aires') # add a new element
print(cities)

['London', 'Cairo', 'Buenos Aires']

In [13]:
cities.reverse() # reverse the order
print(cities)
cities.clear() # delete all elements
print(cities)

['Buenos Aires', 'Cairo', 'London']
[]

## User-defined functions

- When a piece of functionality is not available, you can write it yourself.
- The main advantage of writing your own functions is that you can then **call** them anywhere in your code.
- Functions are useful to **structure** your code and make it reusable in other notebooks/scripts.
- Functions are easier to understand and debug than large pieces of unwieldy code.
- To define a new function in Python, you can use the keyword `def` (define).

- In the example below:
    - Function name: `miles_to_km`
    - Parameter: `miles`
    - Return value: `miles` converted to km
- Always conclude your function with the `return` keyword.

In [12]:
# a function to convert miles to kilometers:
def miles_to_km(miles):
    length_km = miles * 1.60934
    return length_km
    # Note the indentation! 
    # The function code is indented to the right

In [13]:
# now we can call this function anywhere in our code,
# without repeating this code.
print(miles_to_km(1))
print(miles_to_km(50))

1.60934
80.467

In [16]:
# let use list comprehension to convert a list of distances
dist_miles = [1,25,50,100,250,500]
dist_km = [miles_to_km(d) for d in dist_miles]
print(dist_km)

[1.60934, 40.2335, 80.467, 160.934, 402.335, 804.67]

- Functions can have multiple parameters and can (and should) reuse other functions.
- In programming, being **lazy** is positive. You should always use existing functions rather than re-inventing the wheel.

<img src="img/wheel1.png" width=400>

- For example, this is a slighty more complicated function with 3 parameters that can convert miles into km and vice-versa:

In [28]:
# read this code and try to understand what it does:
def convert_distance(dist, in_unit, out_unit):
    print("convert_distance", dist, in_unit, out_unit) # useful DEBUG
    if in_unit == 'miles' and out_unit == 'km':
        result = dist * 1.60934
    elif in_unit == 'km' and out_unit == 'miles':
        result = dist * 0.62137
    else:
        # stop the programme: invalid options
        raise RuntimeError('convert_distance failed: Invalid units. Valid units: miles, km')
    return result

In [25]:
# call convert_distance:
print(convert_distance(10,'km','miles'))
print(convert_distance(10,'miles','km'))
print(convert_distance(500,'miles','km'))

### Explicit units
- Units are so important in scientific computing that packages have been created to **explicitly** declare units for variables. 
- See for example the package `pint`, in which you can write `3 * ureg.meter + 4 * ureg.cm` and obtain the quantity `3.04 <metres>`: https://pint.readthedocs.io. 
- Errors caused by incorrect unit conversions have caused [very expensive disasters](https://www.mentalfloss.com/article/25845/quick-6-six-unit-conversion-disasters) in the aerospatial sector.

## Raising errors

- When you call functions, you might specify incorrect parameters. 
- For example, you might 
`convert_distance(10,'km','kg')`. As kilometers cannot be converted to kilograms, the programme should **stop** and give an clear error message to the user. 
- `raise RuntimeError(<message>)` is a simple way to stop the programme and inform the user.
- Note that the user could be yourself! Even if you work on your own, your code should still check for errors and handle them correctly.

In [20]:
# this call will fail and give you a clear error message
convert_distance(10,'km','kg')

RuntimeError: convert_distance failed: Invalid units. Valid units: miles, km

## Re-using functions

- Functions are like small bricks that can be combined to build your code.
- Now let us extend convert_distance to handle lists. This is convenient to handle realistic situations where we want to convert multiple values and not a single one:

In [26]:
def convert_distance_list(dist_list, in_unit, out_unit):
    # call convert_distance on each element
    # keep the same in_unit and out_unit
    results = [convert_distance(d, in_unit, out_unit) for d in dist_list]
    return results

In [29]:
# call convert_distance_list on a real list:
dists_miles = [1,3,5,10.5,300]
dists_km = convert_distance_list(dists_miles,'miles','km')
print('distances in km',dists_km)
dists_miles_converted = convert_distance_list(dists_km,'km','miles')

convert_distance 1 miles km
convert_distance 3 miles km
convert_distance 5 miles km
convert_distance 10.5 miles km
convert_distance 300 miles km
distances in km [1.60934, 4.82802, 8.0467, 16.89807, 482.802]
convert_distance 1.60934 km miles
convert_distance 4.82802 km miles
convert_distance 8.0467 km miles
convert_distance 16.89807 km miles
convert_distance 482.802 km miles

In [30]:
print('Note the inevitable small error in the conversion:')
print('distances in miles (converted)',dists_miles_converted)
print('distances in miles (original)',dists_miles)

Note the inevitable small error in the conversion:
distances in miles (converted) [0.9999955958, 2.9999867874, 4.999977979, 10.4999537559, 299.99867874]
distances in miles (original) [1, 3, 5, 10.5, 300]

## Variable scoping

- This is a subtle and complex concept that is crucial to understand how functions work.
- Many bugs and issues are caused by misunderstanding this aspect of programming.
- When we define a variable within a function, it will not be **visible** outside of it.
- A **global variable** is visible everywhere in a notebook.
- A **local variable** is visible only within a function.
- This behaviour is desirable to keep function **isolated** from the rest of the programme to minimise potential bugs and errors in the code.

- For example, this cell has two variables called `x`, one global (gx) and one local (lx). These two variables are completely separate. lx only exists within the function, while gx exists in the main programme. 
- If you change lx, you will not overwrite gx!
- This means that we can **safely** work on local variables without overwriting global variables.

<img src="img/scoping1.png" />

In [31]:
# global x
x = 1
print('global x =',x)

# define function
def do_something():
    # define local x, which exists only within 
    # this function. This is a different variable 
    # that has nothing to do with global x
    x = 50
    print('local x =',x)

# call function
do_something()
# global x has not changed!
print('global x =',x)

global x = 1
local x = 50
global x = 1

In [33]:
# Let us consider conversions between areas expressed as 
# square kilometers (km2) and hectares (ha).

# 1 km2 is equal to 100 hectares
km2_to_ha = 100
# this variable is GLOBAL
area_km2 = 5
# 'area_ha' is also global
area_ha = km2_to_ha * area_km2
print('area in ha:', area_ha)

area in ha: 500

In [34]:
def convert_sqkm_to_hectares(area_km2):
    # 'km2_to_ha' is a GLOBAL variable that we can use in here.
    # This environment is ISOLATED from the rest of the notebook.
    # 
    # 'area_ha' and 'area_km2' are LOCAL variables that
    # only exist within this function:
    area_ha = area_km2 * km2_to_ha
    return area_ha

In [36]:
print("result from function (local variable 'area_ha'):", convert_sqkm_to_hectares(25))
# the area_ha and local_area_km2 have now been destroyed
print("the global 'area_ha' has not changed:", area_ha)
print("the global 'global_area_km2' has not changed:", area_km2)

result from function (local variable 'area_ha'): 2500
the global 'area_ha' has not changed: 500
the global 'global_area_km2' has not changed: 5

In [37]:
print('result from function:', convert_sqkm_to_hectares(30))
print('the global area_ha has not changed:', area_ha)
# This behaviour is great because we can define new variables 
# without changing the environment in the notebook.

result from function: 3000
the global area_ha has not changed: 500

- In general, it is better to avoid using global variables too much, as they make the input of a function unclear.
- It is good practice to include all input variables of a function as **explicit parameters**, rather than using global variables. This makes the code easier to understand and test.
- A better version of `convert_sqkm_to_hectares` uses a local variable `km2_to_ha`. This way the function is **self-contained** (i.e., it does not dependent on the surrounding environment).

In [38]:
def convert_sqkm_to_hectares2(area_km2):
    # use local variable
    km2_to_ha = 100
    area_ha = area_km2 * km2_to_ha
    return area_ha

print(convert_sqkm_to_hectares2(10))

1000

## Functions in Pandas 

- `pandas` data frames are used to handle tabular data.
- `apply` allows to call a function on each value of a data frame.
- The parameter `axis` allows to call a function on rows or columns.

In [40]:
# create a simple data frame 
# containing measurements in metres
df = pd.DataFrame({
     'a':[12, 22, 3],
     'b':[4, 5, 61],  
     'c':[7, 93, 34]})
df

    a   b   c
0  12   4   7
1  22   5  93
2   3  61  34

- Let us apply the square root to each value of the data frame. 
- Note that you have to use function `np.sqrt` and not `math.sqrt` that works on individual numbers.

In [41]:
sqrt_df = df.apply(np.sqrt)
sqrt_df

          a         b         c
0  3.464102  2.000000  2.645751
1  4.690416  2.236068  9.643651
2  1.732051  7.810250  5.830952

In [42]:
# apply functions to each row (axis = 1 means "by row")
df['row_sum'] = df.apply(sum, axis=1)
df['row_mean'] = df.apply(np.mean, axis=1)
df

    a   b   c  row_sum  row_mean
0  12   4   7       23      11.5
1  22   5  93      120      60.0
2   3  61  34       98      49.0

In [43]:
# apply sum to each column
df.apply(sum, axis=0)

a            37.0
b            70.0
c           134.0
row_sum     241.0
row_mean    120.5
dtype: float64

In [44]:
# apply mean to each column
df.apply(np.mean, axis=0)

a           12.333333
b           23.333333
c           44.666667
row_sum     80.333333
row_mean    40.166667
dtype: float64

In [45]:
# define custom functions to call on each value
def convert_to_feet(metres):
    feet = 3.28084 * metres
    return feet
    
feet_df = df.apply(convert_to_feet)
feet_df

          a          b          c    row_sum   row_mean
0  39.37008   13.12336   22.96588   75.45932   37.72966
1  72.17848   16.40420  305.11812  393.70080  196.85040
2   9.84252  200.13124  111.54856  321.52232  160.76116

In [46]:
# define custom function to call on each row
def multiply_row(row):
    mult_row = row['a'] * row['b'] * row['c']
    return mult_row

# apply on each row
df['mult_row'] = df.apply(multiply_row, axis=1)
df

    a   b   c  row_sum  row_mean  mult_row
0  12   4   7       23      11.5     336.0
1  22   5  93      120      60.0   10230.0
2   3  61  34       98      49.0    6222.0

In [48]:
# define custom function to call on each column
def multiply_values(vals):
    res = 1
    for val in vals:
        res = res * val
    return res

# apply multiply_values to each column
mult_columns = df.apply(multiply_values, axis=0)
mult_columns

a           7.920000e+02
b           1.220000e+03
c           2.213400e+04
row_sum     2.704800e+05
row_mean    3.381000e+04
mult_row    2.138676e+10
dtype: float64

## Examples of functions

- These are examples of functions that perform realistic operations in data science.
- Note that the **function name** and **parameter names** should be as clear as possible. If you call your parameters `a` `b` `c`, you might unable to understand what they mean in a few weeks.
- Note the **comment** below the function name delimited by `'''`: This is the conventional way of explaning what a function does. This comment can then be accessed anywhere with `help(function_name)`.

In [50]:
# example 1
def count_negative(nums):
    '''
    Count negative numbers in list nums.
    Args:
        nums: a list of numbers
    Returns:
        The number of negative numbers
    '''
    # initialise the counter
    i = 0
    for n in nums:
        if n < 0: 
            i += 1 # increase counter i by 1
    return i

# show function help
help(count_negative)

In [51]:
print(count_negative([-1,3,10,-20,4]))
print(count_negative([3,10,4]))
print(count_negative([]))

2
0
0

In [53]:
# example 2
def remove_spaces( str_list ):
    '''Removes spaces from a list of strings.
    Args:
        str_list: list of strings
    Returns: the list of strings without spaces
    '''
    results = []
    for s in str_list:
        # remove spaces
        clean_s = s.replace(' ','')
        # add to results
        results.append(clean_s)
    return results

help(remove_spaces)

Help on function remove_spaces in module __main__:

remove_spaces(str_list)
    Removes spaces from a list of strings.
    Args:
        str_list: list of strings
    Returns: the list of strings without spaces

In [55]:
# test the function
cities = remove_spaces(['Rio De Janeiro','London','Mexico City ',' Addis Ababa'])
print(cities)

# test behaviour with empty list
cities = remove_spaces([])
print(cities)

['RioDeJaneiro', 'London', 'MexicoCity', 'AddisAbaba']
[]

## A spatial example: Haversine formula
- In geographic data science, we often make calculations with geo-coordinates. 
- It is very useful to write these calculations in small functions with a clear input and output that can be tested and re-used.
- For example, the **haversine formula** determines the great-circle distance between two points on a sphere given their longitudes and latitudes and can be used to approximate distances on the Earth surface.

<img src="img/haversine1.png" width=400>

- where $r$ is the radius of the Earth, $\phi_1$ and  $\phi_1$ are the latitudes and $\lambda_1$ and $\lambda_2$ are the longitudes.
- Note that calculus always use **radians** and not degrees. Hence, we have to convert all lat/lon degrees into radians before calculating haversine. A radian is calculated as $d (\pi/180)$, where $d$ is degrees.

<img src="img/radians1.png" width=380>

- Note that when coding it is recommended to write lat/lon pairs as **LON/LAT** pairs. This is because lon refers to the horizontal axis (x) and lat to vertical axis (y). Writing y/x pairs is counter-intuitive and potentially confusing when switching between geographic and projected reference systems.
- It is useful to write lat/lon as **LAT_Y** and **LON_X**, showing x/y explicitly.

In [61]:
# For brevity, we can import the function from a module directly.
# This way we can call 'sin()' and not 'math.sin()':
from math import sin, cos, sqrt, atan2, radians

def distance_latlon(xlon1deg, ylat1deg, xlon2deg, ylat2deg):
    ''' Calculate distance on Earth surface between two lat/lon points.
    Args:
        xlon1deg, ylat1deg, xlon2deg, ylat2deg: coordinates in degrees.
    Returns:
        The approximate distance in KM.
    '''
    # convert all degrees into radians
    lat1 = radians(ylat1deg)
    lon1 = radians(xlon1deg)
    lat2 = radians(ylat2deg)
    lon2 = radians(xlon2deg)
    # approximate radius of earth in km
    r_km = 6371.0
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    # haversine formula in Python:
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    distance_km = r_km * c
    return distance_km

- When writing a function, you should always **TEST** it to make sure that the results are correct.
- Testing a function requires trying out different examples of input and examining the output.
- **Edge cases** are extreme cases that the function might mishandle: For example, what happens if we call the function on `None` or on usual or invalid values?

In [63]:
# Centroids of three cities (as lists of two values):
london_lonlat = [-0.126236,51.500153]
manchester_lonlat = [2.2426, 53.4808]
nairobi_lonlat = [36.813107, -1.274359]

In [64]:
# use [0] and [1] to access the specific values
# round the results
d = distance_latlon(london_lonlat[0], london_lonlat[1], 
                    manchester_lonlat[0], manchester_lonlat[1])
print('dist(London,Manchester) in km:', round(d,1))
# use convert_distance to show the distances in miles too
print('dist(London,Manchester) in miles:', round(convert_distance(d,'km','miles'),1))

dist(London,Manchester) in km: 272.4
convert_distance 272.4148708486612 km miles
dist(London,Manchester) in miles: 169.3

In [65]:
d = distance_latlon(nairobi_lonlat[0], nairobi_lonlat[1], 
                    london_lonlat[0], london_lonlat[1])
print('dist(Nairobi,London) in km:', round(d,1))

dist(Nairobi,London) in km: 6817.7

In [66]:
d = distance_latlon(nairobi_lonlat[0], nairobi_lonlat[1], 
                    manchester_lonlat[0], manchester_lonlat[1])
print('dist(Nairobi,Manchester) in km:', round(d,1))

dist(Nairobi,Manchester) in km: 6875.7

In [67]:
# Testing edge cases
print(distance_latlon(0, 0, 0, 0))
distance_latlon(None, -10000, None, 0)
# None returns an error. This is the correct behaviour 
# as we cannot calculate distance between null values.

0.0

TypeError: must be real number, not NoneType

In [68]:
help(distance_latlon)

Help on function distance_latlon in module __main__:

distance_latlon(xlon1deg, ylat1deg, xlon2deg, ylat2deg)
    Calculate distance on Earth surface between two lat/lon points.
    Args:
        xlon1deg, ylat1deg, xlon2deg, ylat2deg: coordinates in degrees.
    Returns:
        The approximate distance in KM.

---
## Reasoning with time in Python

- In geographic data science, spatio-temporal data is our bread and butter. Time matters!
- In Python, the package `datetime` provides useful functionality to handle temporal information. This package contains a lot of complex knowledge about how we organise and measure time, mostly based on the [Gregorian Calendar](https://www.britannica.com/topic/Gregorian-calendar). 
- Thanks to this package, you can confidently know what day of the week it was on the 2nd of February 1950 and how many days February will have in 2050.
- **Time series analysis** is an important part of data science.

### Datetime

- A very common type of temporal information is the **timestamp**, which indicates a point in time as precisely as possible (`datetime.datetime`). `.ctime()` returns a human-readable version of a datetime object.

In [75]:
from datetime import datetime

# print current timestamp
ts = datetime.now()
print(ts)
print(ts.ctime())

2021-01-18 15:16:52.639524
Mon Jan 18 15:16:52 2021

- Often we need to extract elements from a timestamp, for example getting the date with `.date()` and hours, minutes, and seconds.

In [77]:
ts_date = ts.date()
print(ts_date.year)
print(ts_date.month)
print(ts_date.day)

2021
1
18

In [79]:
# update timestamp to see time passing
ts = datetime.now()
# extract hour, minute, second
print(ts.hour, ts.minute, ts.second)

15 17 50

In [80]:
# print timestamp using ISO standard format. 
# This is useful to express a datetime as a string in a standard way:
ts.isoformat()

'2021-01-18T15:17:50.592366'

- Using `.strftime`, we can extract information from a datetime object in a very flexible way. For example, `%A` means full name of the week day, `%B` month full name (see https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior for reference):

In [84]:
# what day was it on 2 Feb 1950?
some_day = datetime(1950, 2, 2, 0, 0, 0, 0)
print(some_day.strftime('%A'))

# print date in an arbitrary format
print(some_day.strftime('%A, %d %B %Y'))

Thursday
Thursday, 02 February 1950

### Time deltas

- In Python, we can easily calculate time differences, for example the time elapsed from the French Revolution (5th of May, 1789):

In [91]:
# create a specific datetime in the past
french_revolution = datetime(1789, 6, 5, 0, 0, 0, 0)
# calculate difference
time_elapsed = datetime.now() - french_revolution
# this object is of type datetime.timedelta
print(time_elapsed)

84598 days, 15:23:32.106150

In [98]:
# Executing datetime.now() is not a big deal for your computer,
# but it takes a tiny amount of time. To see how long it takes, you can do:
how_fast = -(datetime.now() - datetime.now())
print(how_fast)
# for example on my computer it took 00.000004 seconds (4 microseconds).

0:00:00.000005

- Sometimes, particularly when we interact with remote servers, we want to tell the system to wait for a while.
The function `time.sleep(seconds)` allows you to do that.

In [100]:
import time
print("Sleeping for 3 seconds...")
time.sleep(3)
print("Awake.")

Sleeping for 3 seconds...
Awake.

### Coordinated Universal Time
- In the same way that coordinates must be expressed in a spatial reference system to be meaningful, absolute temporal information must be linked to a **time zone**. Intuitively, 14:00 indicates a different time in London and in Delhi.
- The **Coordinated Universal Time (UTC)** is a critical piece of our infrastructure that allows any machine to synchronise across the globe, including smartphones, satellites, stock market servers, and cargo ships. UTC is based on the Universal Time (UT), the mean solar time of the Greenwich meridian (0° longitude) (see [Britannica entry](https://www.britannica.com/science/Coordinated-Universal-Time)).
- In Python, you can use `datetime.utcnow()` to see the current time in UTC. The function `.ctime()` returns a human-readable format of the timestamp.

In [101]:
# note that your computer will take a few nanoseconds to execute these instructions,
# so you will see a lag between them:
print('Machine-friendly format:')
print(datetime.utcnow())
print(datetime.now())

print('\nHuman format using ctime:')
print(datetime.utcnow().ctime())
print(datetime.now().ctime())

print('\nISO format:')
print(datetime.utcnow().isoformat())
print(datetime.now().isoformat())

Machine-friendly format:
2021-01-18 15:28:49.903815
2021-01-18 15:28:49.903907

Human format using ctime:
Mon Jan 18 15:28:49 2021
Mon Jan 18 15:28:49 2021

ISO format:
2021-01-18T15:28:49.904287
2021-01-18T15:28:49.904363

### Time zones

- When working with real-world temporal data, **we must use timezones**.
- The package `pytz` allows you to manipulate time zones in an intuitive way (see a [short guide here](https://techmonger.github.io/32/pytz-example-conversion/)).

In [102]:
import pytz
from datetime import timezone

# what is the local time zone?
local_tmz = datetime.now().astimezone().tzinfo
local_tmz

datetime.timezone(datetime.timedelta(0), 'GMT')

In [104]:
# get current time stating that we want it in UTC
utc_now = datetime.now(timezone.utc)
pacific_now = datetime.now(pytz.timezone('US/Pacific'))
cairo_now = datetime.now(pytz.timezone('Africa/Cairo'))

print("UTC:", utc_now.isoformat())
print("US Pacific:", pacific_now.isoformat())
print("Cairo:", cairo_now.isoformat())

UTC: 2021-01-18T15:31:29.918786+00:00
US Pacific: 2021-01-18T07:31:29.921635-08:00
Cairo: 2021-01-18T17:31:29.922762+02:00

In [106]:
# common time zones (first 20):
pytz.common_timezones[:20]

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala']

- Datetime objects can be compared with operators `=`, `<` and `>` as if they were simple numbers:

In [108]:
today = datetime.now()
time1 = datetime(2015, 1, 1, 0, 0, 0, 0)
time2 = datetime(2010, 1, 1, 0, 0, 0, 0)

print("time1 after time2?", time1 > time2)
print("time1 before today?", time1 < today)

time1 after time2? True
time1 before today? True

In [109]:
# make a list
times = [time1,today,time2]
times

[datetime.datetime(2015, 1, 1, 0, 0),
 datetime.datetime(2021, 1, 18, 15, 33, 54, 56515),
 datetime.datetime(2010, 1, 1, 0, 0)]

In [110]:
# sort times
times = sorted(times)
times

[datetime.datetime(2010, 1, 1, 0, 0),
 datetime.datetime(2015, 1, 1, 0, 0),
 datetime.datetime(2021, 1, 18, 15, 33, 54, 56515)]

End of notebook